#clickshame-strike {
  height: 300px;
  width: 300px;
  margin: 0px;
  border: none;
  overflow: visible;
  float: right;
  display: inline;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2000000001;
}
.no-outline { outline: none; }
.clickshame-reference {
  background-color: rgba(253, 91, 91, 0.3);
}
.clickshame-reference:after {
  padding-left: 4px;
}
.clickshame-domain-banner {
  padding: 3px 10px 5px 10px;
  background: #FD5B5B;
  color: white;
}
.clickshame-close {
  float: right;
}
.clickshame-close:hover {
  cursor: pointer;
}
.strike-button {
  padding: 5px 0;
  margin: 3px 5px;
  text-align: center;
  width: 100%;
  background: #FE5B5B;
  border: 0;
  color: #FFF;
}
.strike-button:hover { background: #E24A4A; cursor: pointer; }
.strike-fields { height: 500px; width: 500px; }
